<article class="entry">
  <div class="content">
    <p>User Name: {{entry.[0].user.username}}</p>
    <p>Entrys: {{entry.length}}</p>
    <a href="/dashboard/edituser">Edit My Info</a>
  </div>
</article>